.statementPage {
  padding: 5px;
  height: calc(100vh - 60px);
  background: var(--background);
  color: var(--font);
}

.statementPage h2 {
  text-align: center;
  margin: 20px 0px;
}

.commentsDiv {
  height: 440px;
  width: 45vw;
  max-width: 750px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.commentsDiv::-webkit-scrollbar {
  width: 3px;
}

.commentsDiv::-webkit-scrollbar-track {
  background: transparent;
}

.commentsDiv::-webkit-scrollbar-thumb {
  background: var(--highlight);
}

.commentsDiv::-webkit-scrollbar-thumb:hover {
  background: var(--font);
}

.commentsDiv ul {
  list-style: none;
}

.commentsDiv ul {
  list-style: none;
}

.statementStart {
  font-size: 2.5vw;
  width: 40vw;
  max-width: 750px;
}

.statementStartDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 45vw;
  max-width: 750px;
  margin: auto;
  min-height: 100px;
}

@media screen and (max-width: 740px) {
  .statementStart {
    font-size: 5vw !important;
    min-width: 90vw;
    max-width: 740px;
  }

  .statementStartDiv {
    min-width: 95vw;
  }
}

@media screen and (max-width: 1340px) {
  .statementStart {
    font-size: 3vw;
    width: 55vw;
    max-width: 750px;
  }

  .statementStartDiv {
    width: 60vw;
    max-width: 800px;
  }
}
@media screen and (max-width: 960px) {
  .statementStart {
    font-size: 3.5vw;
    width: 65vw;
    max-width: 750px;
  }

  .statementStartDiv {
    width: 70vw;
    max-width: 800px;
  }
}
@media screen and (max-width: 820px) {
  .statementStart {
    font-size: 4vw;
    width: 75vw;
    max-width: 850px;
  }

  .statementStartDiv {
    width: 80vw;
    max-width: 900px;
  }
}
