.lightTheme {
  --font: #34435e;
  --font-medium: rgb(52, 67, 94, 0.5);
  --font-light: #f2f8f8;
  --background: #f2f8f8;
  --background-opacity: rgb(242, 248, 248, 0.7);
  --green: #9fc892;
  --red: #e96e5d;
  --highlight: #d2d6ef84;
  --shadow: #34435e;
}

.darkTheme {
  --font-light: #34435e;
  --font: #f2f8f8;
  --font-medium: rgb(242, 248, 248, 0.5);
  --background: #34435e;
  --background-opacity: rgb(52, 67, 94, 0.7);
  --green: #9fc892;
  --red: #e96e5d;
  --highlight: #d2d6ef;
  --shadow: #d2d6ef;
}

:root {
  --nav-height: 80px;
}

.navLinks {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}

.headerOne {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-size: 30px;
}

.headerTwo {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 25px;
}

.body {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 18px;
}

.boldBody {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: var(--white);
}

html {
  background-color: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Media Queries */
@media screen and (max-width: 450px) {
  .headerOne {
    font-size: 24px;
  }

  .headerTwo {
    font-size: 18px;
    line-height: 23px;
  }

  .body {
    font-size: 14px;
    line-height: 15px;
  }

  .boldBody {
    font-size: 14px;
    line-height: 15px;
  }

  .navLinks {
    font-size: 18px;
  }
}

@media screen and (max-width: 380px) {
  .headerOne {
    font-size: 22px;
  }

  .headerTwo {
    font-size: 16px;
    line-height: 23px;
  }

  .body {
    font-size: 12px;
    line-height: 15px;
  }

  .boldBody {
    font-size: 12px;
    line-height: 15px;
  }

  .navLinks {
    font-size: 16px;
  }
}

@media screen and (max-width: 740px) {
  :root {
    --nav-height: 60px;
  }

  html {
    width: 100%;
    margin-right: -50px;
  }
}
