.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0px;
  color: var(--red);
  width: 90%;
  min-height: 30px;
  margin: 10px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.container p {
  font-size: 16px;
  text-align: center;
}

.error {
  background: var(--background);
}
