.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--red);
  width: 90%;
  min-height: 20px;
  margin: 1rem auto;
}

.container p {
  font-size: 16px;
}
