.cardContainer {
  border: 2px solid var(--highlight);
  border-radius: 5px;
  margin: 20px auto 20px auto;
  color: var(--font) !important;
  width: 40vw;
  max-width: 700px;
  background: var(--white);
  padding: 10px;
}

.row {
  display: flex;
  height: 130px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.statsContainer {
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

.taggers {
  display: flex;
  align-items: center;
  padding: 2px 0px;
  margin-left: 5%;
}

.taggers p {
  margin-right: 5px;
}

.taggers svg {
  margin-top: -3px;
  height: 18px;
}

.taggers svg:hover {
  cursor: pointer;
}

.statement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: -5px;
}

.statementStart {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.statementEnd,
.statementEndInput {
  font-size: 1.2rem;
  max-height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.statementEndInput input {
  color: var(--font);
  border: none;
  width: 51ch;
  background: transparent;
  font-size: 20px !important;
  padding: 0px 3px;
  margin-bottom: 0px;
}

.statementEndInput input:focus {
  outline: none;
}

.statementEndInput {
  margin-bottom: -5px;
}

.tagButton button {
  width: 80px;
  height: 25px;
  margin: 0px;
  font-size: 16px;
}

.tagButton {
  margin: 0px 0px 0px auto;
}

.voteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.voteContainer p {
  text-align: center !important;
  padding: 2px;
  width: 30px;
}

.voteContainer button {
  border: none;
  background: transparent;
  transition: 0.1s;
  width: 18px;
  height: 18px;
}

.voteContainer button svg {
  height: 18px;
}

.voteContainer button:hover {
  cursor: pointer;
}

.voteContainer button:active {
  filter: invert(1);
}

.red {
  color: var(--red);
}

.avatar {
  height: 14px;
  margin: 0px 4px 2px 2px;
}

.userData {
  display: flex;
  padding: 2px 0px;
}

.userData p,
.userData a {
  font-size: 14px;
  text-decoration: none;
  color: var(--font);
}

.userData a:hover {
  text-decoration: underline;
  color: var(--red);
}

@media screen and (max-width: 740px) {
  .cardContainer {
    min-width: 95vw;
    max-width: 740px;
  }

  .statementStart {
    font-size: 1.1rem;
  }
  .statementEnd {
    font-size: 0.8rem;
  }
  .row {
    display: flex;
  }

  .statementEndInput,
  .statementEndInput input {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 1340px) {
  .cardContainer {
    width: 60vw;
    max-width: 800px;
  }
}
@media screen and (max-width: 900px) {
  .cardContainer {
    width: 70vw;
    max-width: 800px;
  }
}
