.container {
  background-color: rgb(242, 248, 248);
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  max-width: 70%;
  padding: 2rem 0;
}

.footerCol {
  flex: 25%;
  padding: 0 15px;
}

.footerCol ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerWidget {
  display: flex;
  height: 150px;
}

.footerCol ul li a {
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
  color: var(--font);
  transition: all 0.3s ease;
}

.footerCol ul li {
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}

.footerCol ul li:hover {
  transform: scale(1.05);
  border-bottom: 2px solid var(--font);
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}

.footerLogo p {
  width: 20vw;
  margin-left: 10px;
  color: var(--font);
  margin-bottom: 10px;
}

.logoContainer {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer svg {
  height: 150px;
  margin-top: -13px;
}

.footerText p {
  margin-bottom: 0px;
  font-size: 16px;
  color: var(--font);
}

.copyright {
  color: var(--font);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: transparent;
}

.footerCol ul li a {
  width: fit-content;
  color: var(--font);
  background-color: transparent;
}

/*responsive*/
@media (max-width: 740px) {
  .row {
    flex-direction: column;
    max-width: 95%;
  }

  .footerWidget {
    flex-direction: column;
    height: auto;
  }

  .logoContainer {
    margin: auto;
    width: auto;
  }

  .footerLogo p {
    text-align: center;
  }

  .footerLogo,
  .footerText {
    max-width: fit-content;
  }

  .container {
    background-color: rgb(242, 248, 248);
  }
}
@media (max-width: 574px) {
  .row {
    flex-direction: column-reverse;
    max-width: 95%;
  }

  .footerCol ul {
    margin: 15px auto 0px;
  }
  .footerCol {
    width: 100%;
  }

  .footerDivider {
    max-width: 95%;
  }

  .footerLogo,
  .footerLogo p,
  .footerWidget p {
    margin: auto;
    margin-bottom: 30px;
    max-width: 80vw;
  }
}

@media screen and (max-width: 1050px) {
  .row {
    flex-direction: column-reverse;
  }
  .footerCol ul {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .footerCol.footerWidget {
    width: 95vw;
    margin: auto;
  }

  .footerLogo p {
    width: 400px;
  }
}
