.homePage {
  background: var(--background);
  height: calc(100vh - 60px);
}

.container {
  margin: 0px auto;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background: var(--background);
  height: 100%;
}

.container div h2 {
  margin-bottom: 30px;
}

.cardsDiv {
  height: calc(100vh - 160px);
  width: 45vw;
  max-width: 750px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cardsDiv::-webkit-scrollbar {
  display: none;
}

.cardsDiv ul {
  list-style: none;
}

@media screen and (max-width: 740px) {
  .cardsDiv {
    width: 95vw;
    margin: auto;
  }
}
