.homePage {
  background: var(--background);
  height: calc(100vh - 60px);
}

.container {
  margin: 0px auto;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background: var(--background);
  height: 100%;
  text-align: center;
}

.container h2 {
  margin-bottom: -10px;
  margin-top: 20px;
}

.cardsDiv {
  height: calc(100vh - 160px);
  width: 45vw;
  max-width: 750px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cardsDiv::-webkit-scrollbar {
  display: none;
}

.cardsDiv ul {
  list-style: none;
}

@media screen and (max-width: 740px) {
  .cardsDiv {
    min-width: 95vw;
    margin: auto;
    margin-top: 0px;
  }

  h2 {
    margin: 10px auto;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1340px) {
  .cardsDiv {
    width: 60vw;
    max-width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .cardsDiv {
    width: 70vw;
    max-width: 800px;
  }
}
