.profileContainer {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
}

.profileHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--font);
  color: var(--font-light);
  min-height: 30%;
}

.iconCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--green);
  background-color: var(--background);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 20px;
}

.iconCircle img {
  padding: 20px;
  width: 80%;
}

.userSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userSection p {
  font-size: 3rem;
  padding: 20px;
}

.userInformation p {
  text-align: left;
  padding: 10px 5px;
}

.userInformation h3 {
  margin-top: 20px;
}

.accountDetails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  width: fit-content;
  margin: auto;
  padding-top: 10px;
}

.subTitle {
  background-color: var(--font);
  color: var(--font-light);
  text-align: center !important;
  margin: auto;
  padding: 8px !important;
  width: 40vw;
  max-width: 600px;
  font-weight: 700;
  font-size: 1.1rem;
}

.buttonsDiv {
  width: 100%;
  min-width: 300px;
  max-width: 390px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px auto;
}

.singleButton {
  width: 140px;
}

.singleButton svg {
  margin-right: 3px;
}

.singleButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
}

.deletePrompt p {
  text-align: center;
}

.padding {
  padding-top: 10px;
}

.red {
  color: var(--red);
}

.accountDetails form input:focus {
  outline: none;
}

.accountDetails form input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--font);
}
.changePassword {
  display: flex;
  justify-content: center;
  margin: 35px;
}

.changePassword button {
  border: none;
  background-color: transparent;
  color: var(--font);
  cursor: pointer;
  font-size: 15px;
  padding-bottom: 2px;
}

.changePassword button:hover {
  border-bottom: 1px solid var(--font);
}

@media screen and (max-width: 740px) {
  .buttonsDiv {
    width: 100%;
  }

  .subTitle {
    width: 100vw;
  }

  .userInformation {
    width: 100%;
  }

  .accountDetails {
    margin: 0px;
  }

  .accountDetails p,
  .accountDetails span {
    font-size: 16px;
    padding-left: 10px;
  }

  .accountDetails {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  /* .deletePrompt {
    width: 45%;
  } */
}
@media screen and (max-width: 1000px) {
  /* .deletePrompt {
    width: 65%;
  } */
}
