.navContainer {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 50px;
  background-color: var(--font);
  width: 100%;
}

.allLinks {
  display: flex;
  margin-right: 10px;
}

.plus svg {
  margin-bottom: -4px;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatarContainer,
.username svg {
  background-color: transparent;
  color: var(--font-light);
  margin: 5px;
  height: 20px;
}

.navContainer a {
  text-decoration: none;
  color: var(--font-light);
}

.navContainer li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid transparent;
  margin: 0px 10px;
  padding-top: 2px;
}

.logoNav a {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.logoNav {
  border-top: 2px solid transparent !important;
}

.navContainer li:hover {
  border-top: 2px solid var(--font-light);
}

.logoDiv div {
  margin: 0%;
}

.logoDiv {
  height: 50px;
  width: 50px;
}

.logoNav h1 {
  margin-left: 8px;
}

.logoNav svg {
  width: 50px;
}

/* Drop down items */
.dropBtn {
  background-color: transparent;
  color: var(--font-light);
  border: none;
  cursor: default;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: auto;
}

.dropdownContent {
  display: none;
  position: absolute;
  padding: 15px 5px 5px;
  background-color: var(--font);
  width: 100%;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: var(--font-light);
  padding: 5px 5px;
  margin: auto;
  text-decoration: none;
  text-align: left;
  display: block;
}

.dropdownContent a:hover {
  color: var(--highlight);
}

.dropdown:hover .dropdownContent {
  display: block;
}

@media screen and (max-width: 700px) {
  .logoNav a {
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    width: 60px;
  }

  .logoDiv {
    padding: 2.5px 5px 5px;
  }

  .topNav {
    overflow: hidden;
    background-color: var(--font);
    position: relative;
  }

  .topNav #myLinks {
    display: none;
  }

  .topNav a {
    color: var(--font-light);
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
  }

  .topNav a:hover,
  .topNav a:focus,
  .topNav a:active {
    background-color: var(--font);
    color: var(--font-light);
  }

  .topNav a.icon {
    background: var(--font);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    margin-right: 10px;
    padding-top: 18px;
  }

  .topNav a.icon:active {
    background-color: var(--font) !important;
  }

  .topNav a.icon svg {
    transform: scale(1.7);
  }

  .topNav a:hover {
    background-color: var(--font);
    color: var(--font-light);
  }

  .active {
    background-color: var(--font);
    color: var(--font-light);
  }
}
