.navContainer {
  /* margin-bottom: 6px; */
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 50px;
  background-color: var(--font);
  width: 100%;
}

.allLinks {
  display: flex;
}

.navContainer a {
  text-decoration: none;
  color: var(--font-light);
}

.navContainer li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid transparent;
  margin: 0px 10px;
  padding-top: 2px;
}

.logoNav a {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.logoNav {
  border-top: 2px solid transparent !important;
}

.navContainer li:hover {
  /* background-color: var(--shadow); */
  border-top: 2px solid var(--font-light);
}

.logoDiv div {
  margin: 0%;
}

.logoDiv {
  height: 50px;
  width: 50px;
}

.logoNav h1 {
  margin-left: 8px;
}

.logoNav svg {
  width: 50px;
}

@media screen and (min-width: 840px) {
}
