.input {
  margin: 10px 0px;
  width: 300px;
  color: var(--font);
}

.inputDiv {
  display: flex;
  border: 1px solid var(--font);
  transition: 1s;
  border-radius: 5px;
  height: 40px;
  background: var(--background);
}

.input label {
  margin: 5px;
  font-size: 16px;
}

.input input {
  height: 85%;
  padding: 2% 0%;
  width: 250px;
  border: none;
  outline: none;
  margin: auto 0px;
  background: var(--background);
  font-size: 16px;
}

.input img {
  height: 20px;
  width: 20px;
  margin: auto 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
}
