.box {
  color: var(--font-light);
  background: var(--font);
}

.loadingDiv {
  padding-top: 10px;
  background: var(--font);
  color: var(--font-light);
  height: 5px !important;
}

.bar {
  height: 5px !important;
  background: var(--font);
  color: var(--font-light);
}
